body {
  background: #e7f6ff;
  margin: 0;
  font-family: 'Inter', sans-serif;

  .wrapper {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;

    .content {
      padding: 40px;

      h1 {
        margin: 0;
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .content__search__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .content__search {
          border: 1px solid #f3f3f3;
          border-radius: 10px;
          padding: 0 15px;

          input {
            border: none;
            padding: 13px;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            width: 200px;
          }

          input:active {
            border: none;
          }
        }
      }

      .content__items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
      }
    }
  }
}
